body {
    background: #EEE; /* Задава светлосив фон на тялото на страницата */
    padding: 5rem; /* Добавя вътрешен отстъп от 5 рем около цялото съдържание на тялото */
    display: flex; /* Задава на body да използва Flexbox за подреждане на децата си */
    justify-content: center; /* Центрира съдържанието хоризонтално */
    align-items: center; /* Центрира съдържанието вертикално */
}


.gallery {
	padding: 5rem;
}

.gallery ul {
    padding: 0;
	margin: 0;
    flex-wrap: wrap; /*flex-wrap: wrap; - позволява на децата на <ul> да се пренасят на нов ред, ако няма достатъчно място на един ред.*/
    display: flex;
    justify-content: space-between; /*justify-content: space-between; - разпределя свободното пространство между елементите, така че те да са разположени на максимално разстояние един от друг.
*/
}

.gallery li {
	flex: 0 0 25%; /* задава гъвкавостта на елементите така, че те да заемат 25% от родителския контейнер, без да растат или свиват.*/ 
    display: flex;
	align-items: center;
    justify-content: center;
	list-style: none outside;
    margin-bottom: 4rem;
    padding: 2.5rem 1rem;
    background: #FFF;
	border: 0.8rem solid #111; /*задава граница от 0.8 рем единици със солиден черен цвят (#111).*/
	box-shadow: 0 0 3rem 0.1rem rgba(0,0,0,0.3), 0 0 1rem 0.2rem rgba(0,0,0,0.3) inset; /*задава външна и вътрешна сенки, които придават дълбочина на елементите.*/



}

.gallery li img {
	box-shadow: 0 0 0 0.1rem rgba(0,0,0,0.2); /*задава сянка около изображението с леко размазване, което създава леко издигане над фона.*/
}

/*Тези стилове създават галерия от елементи, които са центрирани в страницата и изглеждат като отделни карти с изображения. Всяка карта е стилно оформена с бял фон, черни граници и сенки за дълбочина. Картите са подредени в редици, които се пренасят на нови редове, когато е необходимо.*/
